<div class="title text-center">
	<h1 >Bar Espol</h1>
</div>
<nav>
	<ul class="nav nav-justified">
		<li><a href="/">Inicio</a></li>
		<li><a href="/galeria">Galeria</a></li>
		<li><a href="/comedores">Comedores</a></li>
		<li><a href="/estadisticas">Mejores opciones</a></li>
		<li><a href="/contactanos">Contactos</a></li>
	</ul>
</nav>